* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: lightgoldenrodyellow;
}

.header {
    height: 80px;
    width: 80%;
    margin: 10px;
    background-color: #bcd890;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.header h1 {
    color: white;
    margin-left: -80px;
    font-family: bebas_neuebold;
    font-size: 48px;
}

.header h1 span {
    font-family: bebas_neuelight;
}

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
    font-family: bebas_neueregular;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: white solid 1px;
}

.nav li:last-child a {
    border-right: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .2);
}

.lowerHeader {
    padding: 20px;
}

.lowerHeader h1 {
    font-family: bebas_neuebook;
    letter-spacing: 2px;
    font-size: 48px;
}

.main {
    width: 80%;
    margin: 20px;
}